**Segmenting and Clustering Neighborhoods in Toronto by Almu**

In [2]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import numpy as np

To obtain the data that is in the table of postal codes and to transform the data into a pandas dataframe

In [3]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
html = requests.get(url).content
soup = BeautifulSoup(html,'lxml')
table = soup.find_all('table')[0] 
df = pd.read_html(str(table), header=0)[0]
df.head(10)

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights
7      M6A        North York    Lawrence Manor
8      M7A      Queen's Park      Not assigned
9      M8A      Not assigned      Not assigned

Ignore cells with a borough that is Not assigned

In [4]:
df.replace("Not assigned", np.nan, inplace=True)
df.dropna(subset=['Borough'], axis=0, inplace=True)
df.reset_index(drop=True, inplace=True)
df.head(10)

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights
5      M6A        North York    Lawrence Manor
6      M7A      Queen's Park               NaN
7      M9A         Etobicoke  Islington Avenue
8      M1B       Scarborough             Rouge
9      M1B       Scarborough           Malvern

Rows will be combined into one row with the neighborhoods separated with a comma

In [5]:
df1 = df.groupby(['Postcode','Borough'])['Neighbourhood'].apply(lambda x: ','.join(x.astype(str))).reset_index()
df1.head(10)

  Postcode      Borough                                  Neighbourhood
0      M1B  Scarborough                                  Rouge,Malvern
1      M1C  Scarborough           Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough                Guildwood,Morningside,West Hill
3      M1G  Scarborough                                         Woburn
4      M1H  Scarborough                                      Cedarbrae
5      M1J  Scarborough                            Scarborough Village
6      M1K  Scarborough      East Birchmount Park,Ionview,Kennedy Park
7      M1L  Scarborough                  Clairlea,Golden Mile,Oakridge
8      M1M  Scarborough  Cliffcrest,Cliffside,Scarborough Village West
9      M1N  Scarborough                     Birch Cliff,Cliffside West

Not assigned neighborhood

In [6]:
df1.tail(20)

    Postcode       Borough                                      Neighbourhood
83       M6R  West Toronto                              Parkdale,Roncesvalles
84       M6S  West Toronto                                  Runnymede,Swansea
85       M7A  Queen's Park                                                nan
86       M7R   Mississauga              Canada Post Gateway Processing Centre
87       M7Y  East Toronto   Business reply mail Processing Centre969 Eastern
88       M8V     Etobicoke         Humber Bay Shores,Mimico South,New Toronto
89       M8W     Etobicoke                              Alderwood,Long Branch
90       M8X     Etobicoke        The Kingsway,Montgomery Road,Old Mill North
91       M8Y     Etobicoke  Humber Bay,King's Mill Park,Kingsway Park Sout...
92       M8Z     Etobicoke  Kingsway Park South West,Mimico NW,The Queensw...
93       M9A     Etobicoke                                   Islington Avenue
94       M9B     Etobicoke  Cloverdale,Islington,Martin Grove,Princess Gar...
95       M9C     Etobicoke  Bloordale Gardens,Eringate,Markland Wood,Old B...
96       M9L    North York                                      Humber Summit
97       M9M    North York                                    Emery,Humberlea
98       M9N          York                                             Weston
99       M9P     Etobicoke                                          Westmount
100      M9R     Etobicoke  Kingsview Village,Martin Grove Gardens,Richvie...
101      M9V     Etobicoke  Albion Gardens,Beaumond Heights,Humbergate,Jam...
102      M9W     Etobicoke                                          Northwest

Neighborhood will be the same as the borough

In [7]:
df1['Neighbourhood'].replace("nan", df1['Borough'], inplace=True)
df1.tail(20)

    Postcode       Borough                                      Neighbourhood
83       M6R  West Toronto                              Parkdale,Roncesvalles
84       M6S  West Toronto                                  Runnymede,Swansea
85       M7A  Queen's Park                                       Queen's Park
86       M7R   Mississauga              Canada Post Gateway Processing Centre
87       M7Y  East Toronto   Business reply mail Processing Centre969 Eastern
88       M8V     Etobicoke         Humber Bay Shores,Mimico South,New Toronto
89       M8W     Etobicoke                              Alderwood,Long Branch
90       M8X     Etobicoke        The Kingsway,Montgomery Road,Old Mill North
91       M8Y     Etobicoke  Humber Bay,King's Mill Park,Kingsway Park Sout...
92       M8Z     Etobicoke  Kingsway Park South West,Mimico NW,The Queensw...
93       M9A     Etobicoke                                   Islington Avenue
94       M9B     Etobicoke  Cloverdale,Islington,Martin Grove,Princess Gar...
95       M9C     Etobicoke  Bloordale Gardens,Eringate,Markland Wood,Old B...
96       M9L    North York                                      Humber Summit
97       M9M    North York                                    Emery,Humberlea
98       M9N          York                                             Weston
99       M9P     Etobicoke                                          Westmount
100      M9R     Etobicoke  Kingsview Village,Martin Grove Gardens,Richvie...
101      M9V     Etobicoke  Albion Gardens,Beaumond Heights,Humbergate,Jam...
102      M9W     Etobicoke                                          Northwest

Print the number of rows of your dataframe

In [8]:
df1.shape

(103, 3)

In [9]:
url1 = 'http://cocl.us/Geospatial_data'
df2 = pd.read_csv(url1)
df2.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [11]:
df1[['Latitude', 'Longitude']] = df2[['Latitude', 'Longitude']]
df1.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge,Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek,Rouge Hill,Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood,Morningside,West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476